<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <button  (click)="getDeviceInfo()">Recupérer les infos du telephone :</button>
  <ion-list>
    <ion-item>
      <ion-label>Model : {{deviceModel}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Platfrom : {{devicePlatform}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>OS : {{deviceOs}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>OSversion : {{deviceOsversion}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Constructeur : {{deviceConstruct}}</ion-label>
    </ion-item>
  </ion-list>
  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
