<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <button  (click)="getGpsInfo()">Recupérer la position du du telephone :</button>

  <ion-list>
    <ion-item>
      <ion-label>Position : {{coordonnees.latitude}} / {{coordonnees.longitude}} / {{timestamp}}  </ion-label>
    </ion-item>
    
  </ion-list>
  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
